body 
{
    background-color: orangered;
    
}

fieldset
{
    background-color: blue;
    font-family: fantasy;
    font-size: 24pt;
}
h3
{
    font-family: monospace;
    color: white;
}
h4
{
    color: yellow;
}